
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');


header {
    font-family: 'Orbitron';
    line-height: 1;
    text-shadow: 2.5px 2.5px 0 #09090a;
    position: static;

    
    
}

body {
    font-size: clamp(1rem, 3vw, 1.5rem);
    background: #565555;
    color: rgb(247, 245, 241);
    margin: 0;
    
}

p {
    color:inherit;
    background-color: transparent;
    margin: 0;
}


img{
    border-style: none;
    max-width: 100%;
    height: auto;
}


h1,h2,h3, a {
    margin:0;
    line-height: 1;
    text-shadow: 2.5px 2.5px 0 #05090c;
}

h1{
    font-family:'Orbitron';
    color: yellow;
    
    display: grid;
    
    align-content: center;
    justify-items: center;

    
}

h2{
    font-family: 'Bebas Neue', serif;
    text-shadow: 2.5px 2.5px 0 #05090c;
}

h3{
    font-family: 'Bebas Neue'; 
    text-shadow: 2.5px 2.5px 0 #05090c;
}

figure{
    margin: 0;
}

.container{
    padding: 0 1.25rem;
    max-width: 3000px;
    margin: 0 auto;
}

.menu{
    margin: 0;
    padding-left: 20px;

   
}

.menu li{
    list-style: none;
    
    
}

.menu a{
    text-decoration: none;
    color: white;
}




